# This config file uses the cluster_otu command of the uparse pipeline.
# Do not set the following options:
#     -cluster_otus
#     -otus
#     -uparseout
#     -relabel
# For additiona information see: http://drive5.com/usearch/manual/cmd_cluster_otus.html
# TESTED VERSION: 8.0.1623

ENV /home/giovanni/rogetti/Tools/usearch/