# This config file uses the cluster_otu command of the uparse pipeline.
# Do not set the following options:
#     -cluster_otus
#     -otus
#     -uparseout
#     -relabel
# For additiona information see: http://drive5.com/usearch/manual/cmd_cluster_otus.html
# TESTED VERSION: 8.0.1623
#
# NOTE: usearch is a single command that works with 2 config files: otucluster.config 
#       and usearchglobal.config. However each single config file needs its own 
#       configuration.

# ENV /path/to/usearch