# This config file uses the pandaseq algorithm.
# Do not set the following options:
#     -f
#     -r 
#     -6
#     -F
#     -g
#     -G
#     -w
#     -W
# For additiona information see: http://neufeldserver.uwaterloo.ca/~apmasell/pandaseq_man1.html
# TESTED VERSION: 2.8

ENV /home/giovanni/Progetti/Tools/pandaseq
ARG -T 4
VAL -B
