# usearch_global config file
# This config file uses the -usearch_global command of the uparse pipeline.
# Do not set the following options:
#     -db
#     -uc 
# For additiona information see: http://drive5.com/usearch/manual/mapreadstootus.html
# TESTED VERSION: 8.0.1623
#
# NOTE: usearch is a single command that works with 2 config files: otucluster.config 
#       and usearchglobal.config. However each single config file needs its own 
#       configuration.

# ENV /path/to/usearch

# Mandatory for DNA sequences
ARG -strand plus

# Recommended
ARG -id 0.97